body, html{
  font-family: 'PT Sans';
  margin: 0;
  padding: 0;
}

#blur{
  padding: 20px;
  text-align: center;
  background-image: linear-gradient(120deg, #444C86, #983434);
}

#blur h1{
  color: white;
}

#blur h2{
  color: rgba(255, 255, 255, 0.46);
}

#blur img{
  width: 90%;
  border-radius: 5px;
  margin-bottom: 20px;
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
}

.col{
  text-align: center;
}

.btn{
  padding: 10px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.08);
  border: solid 1px rgba(255, 255, 255, 0.44);
  color: white;
  text-decoration: none;
}

.btn i{
  margin-right: 5px;
}

#content{
  padding: 40px;
}

.blur-colored{
  background-image: linear-gradient(120deg, #444C86, #983434);
  color: white;
  height: 10px;
  padding: 20px;
  text-align: center;
}
.blur-colored h6{
  font-size: 10px;
  margin: 0;
  font-weight: 400
}
.sep{
  margin-left: 5px;
  margin-right: 5px;
}
