@font-face{
  font-family: "Lato";
  font-weight: 600;
  src: url("Lato-Black.ttf");
}

@font-face{
  font-family: "Lato";
  font-weight: 500;
  src: url("Lato-Bold.ttf");
}

@font-face{
  font-family: "Lato";
  font-weight: 400;
  src: url("Lato-Semibold.ttf");
}

@font-face{
  font-family: "Lato";
  font-weight: 300;
  src: url("Lato-Regular.ttf");
}

@font-face{
  font-family: "Lato";
  font-weight: 200;
  src: url("Lato-Light.ttf");
}

@font-face{
  font-family: "Lato";
  font-weight: 100;
  src: url("Lato-Hairline.ttf");
}
